:root{
    --primary:#64ff64;
    --primary-transparent:rgba(100,255,100,0.3);
    --secondary:navy;
    --font:'poppins';
    --bg:black;
    --bg-light:#444;
    --text:white;
    --z-index-low:3000;
    --z-index-average:5000;
    --z-index-high:7000;
    --z-index-highest:10000;
    --bg-dim:rgba(255,255,255,0.1);
    --gradient:linear-gradient(to right,rgb(108,92,230),aqua);
    --btn-text:black;


}
html,body{
    margin:0;
    padding:0;
    font-size:16px;


}
body{
    display:flex;
    flex-direction:column;
    min-height:100vh;
    font-family:'poppins';
    overflow:auto;

}
main{
    display:flex;
    flex-direction:column;
    flex:1 0 auto;
  
}

.gradient{
    background:var(--gradient);
}
hr{
    height:0.1px;
    width:100%;
    border:none;
    background:#708090;
}
hr.gradient{
    background:linear-gradient(to right,transparent,var(--primary),transparent);
    height:1px;
}
*{
    box-sizing:border-box;
    outline:none;
}
.btn,input{
    font-family:var(--font);
    

}
.btn{
    width:100%;
    max-width:500px;
    background:var(--primary);
    color:black;
    height:50px;
    border-radius:10px;
    user-select:none;
    clip-path:inset(0 round 10px);
    cursor:pointer;
    font-weight:bold;
    border:none;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    gap:5px;


}
.btn.disabled{
    pointer-events: none;
    filter:grayscale(100%);
}
button.post{
    width:100%;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    border:none;
    color:var(--btn-text);
    background:var(--primary);
    height:50px;
    border-radius:10px;
    font-family:poppins;
    margin:10px 0;
    cursor:pointer;
    clip-path:inset(0 round 10px);
}
button.post .working{
    display:none;
}
button.post.active .content{
    display:none;
}
button.post.active .working{
    display: flex;
}
.overflow-x-auto{
    overflow-x:auto;
}
.overflow-y-auto{
    overflow-y: auto;
}
input{
    padding:10px;
}
/* border */
.border-none{
    border:none;
}
.border-1{
    border:1px solid;
}
.border-left-1{
     border-left:1px solid;
}
.border-right-1{
     border-right:1px solid;
}
.border-bottom-1{
     border-bottom:1px solid;
}
.border-top-1{
     border-top:1px solid;
}
/* padding */
.p-10{
    padding:10px;
}
.p-5{
    padding:5px;
}
/* margin */
.m-10{
    margin:10px;

}
.full-auto{
    margin:auto;
}
.x-auto{
    margin-left:auto;
    margin-right:auto;
}
.y-auto{
    margin-top:auto;
    margin-bottom:auto;
}
.top-10{
   margin-top:10px;
}
.top-20{
    margin-top:20px;

}
.bottom-20{
    margin-bottom:20px;
}
.left-20{
    margin-left:20px;
}
.right-20{
    margin-right:20px;
}
.bottom-10{
    margin-bottom:10px;
}
.left-10{
    margin-left:10px;
}
.right-10{
    margin-right:10px;
}


.m-5{
    margin:5px;
}
.top-auto{
    margin-top:auto;
    
}
.bottom-auto{
    margin-bottom:auto;
}
.left-auto{
    margin-left:auto;
}
.right-auto{
    margin-right:auto;
}
/* border radius */
.br-10{
    border-radius:10px;
}
.br-5{
    border-radius:5px;
}
.br-1000{
    border-radius:100px;
}
.circle{
    border-radius:50%;
}
/* width */
.w-half{
    width:50%;
}
.w-full{
    width:100%;
}
.w-fit{
    width:fit-content;
}
.max-w-500{
    max-width:500px;
}
/* height */
.h-half{
    height:50%;
}
.h-full{
    height:100%;
}
.h-fit{
    height:fit-content;
}
.perfect-square{
    aspect-ratio: 1;
}
/* description/heading */
.desc{
    font-size:1.2rem;
}
.bold{
    font-weight:bold;
}
.u{
    text-decoration:underline;
}
.no-u{
    text-decoration:none;

}
.c{
    color:var(--text);
}
/* pointer */
.pointer{
    cursor:pointer;
}
/* clip paths */
.clip-10{
    clip-path:inset(0 round 10px);
}
.clip-5{
      clip-path:inset(0 round 5px); 
}
.clip-20{
       clip-path:inset(0 round 20px);
}
.clip-1000{
       clip-path:inset(0 round 1000px);
}
.clip-circle{
       clip-path:inset(0 round 50%);
}
/* background */
.bg{
    background:var(--bg);
}
.bg-primary{
    background:var(--primary);
}
.bg-secondary{
    background:var(--bg-secondary);
}
.bg-inherit{
    background:inherit;
}
.bg-dim{
    background:var(--bg-dim);
}
/* text  */
.text-white{
    color:white;
}
.text-black{
    color:black;
}
.select-none{
    user-select: none;
}
.c-inherit{
    color:inherit;
}
.c-primary{
    color:var(--primary);
}
.text-light{
    font-weight:100;
}
.text-u{
    text-decoration:underline;
}
.text-small{
    font-size:0.5rem;
}
.text-dim{
    color:#708090;
}
.no-select{
    user-select:none;
}
.text-bold{
    font-weight:bold;
}
/* display */
.display-none{
    display:none;
}
.row{
    display:flex;
    flex-direction: row;
}
.flex-auto{
    flex:1 0 auto;
}
.column{
    display:flex;
    flex-direction:column;
}
.space-between{
    justify-content:space-between;
}
.g-5{
    gap:5px;

}
.g-10{
    gap:10px;
}
.g-20{
    gap:20px;
}
.grid{
    display:grid;

}
.grid-2{
    grid-template-columns: repeat(2,1fr);
}
.grid-full{
    grid-column: 1/-1;

}
.grid-3{
    grid-template-columns: repeat(3,1fr);
}
.grid-4{
    grid-template-columns: repeat(4,1fr);
}
.grid-5{
    grid-template-columns: repeat(5,1fr);
}
.grid-6{
    grid-template-columns: repeat(6,1fr);
}
.grid-7{
    grid-template-columns: repeat(7,1fr);
}
.grid-8{
    grid-template-columns: repeat(8,1fr);
}
.grid-9{
    grid-template-columns: repeat(9,1fr);
}
.grid-10{
    grid-template-columns: repeat(10,1fr);
}
.align-center{
    align-items:center;
}
.justify-center{
    align-items:center;
    justify-content: center;
}
.place-center{
    place-items: center;
}
/* badge */
.status{
    width:fit-content;
    height:fit-content;
    padding:2px 10px;
    font-size:0.6rem;
    user-select:none;
    
}
.status.green{
    background:rgba(0,255,0,0.2);
    color:#4caf50;
    border-radius:1000px;
}
.status.red{
    background:rgba(255,0,0,0.2);
    color:red;
    border-radius:1000px;
}
.status.gold{
    background:rgba(255, 217, 0, 0.2);
    color:#ffd700;
    border-radius:1000px;
}
/* positioning */
.pos-fixed{
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;

}
/* z index */
.highest{
    z-index:var(--z-index-highest);
}
.high{
    z-index:var(--z-index-high);
}
.average{
    z-index:var(--z-index-low);
}
.low{
    z-index:var(--z-index-low);
}
.pos-stick,.pos-sticky{
    position:sticky;
  
}
.stick-top{
      top:0;
    left:0;
    right:0;
}
.stick-bottom{
   bottom:0;
   left:0;
   right:0;
}

::-webkit-scrollbar{
    width:5px;
    
}
::-webkit-scrollbar-track{
    background:rgba(112, 128, 144, 0.2);
    border-radius:10px;
}
::-webkit-scrollbar-thumb{
    background:var(--primary);
    border-radius:10px;
}
html{
    scrollbar-width: thin;
    scrollbar-color: rgba(112, 128, 144, 0.2) var(--primary);
}
@media(min-width:800px){
    .pc-pointer{
        cursor:pointer;
    }
    .pc-grid{
        display:grid;
    }
    .pc-grid-8{
    grid-template-columns: repeat(8,1fr);
}
 .pc-grid-6{
    grid-template-columns: repeat(6,1fr);
}
.pc-grid-2{
    grid-template-columns: repeat(2,1fr);
}
.pc-x-padding{
    padding-left:10vw;
    padding-right:10vw;

}
.pc-display-none{
    display:none;
}
}